html {
    font-size: 62.5%; // 1rem = 16px => 16*.625 = 10 => now 1rem is 10px 
}
body {
    font-family:  Verdana, Arial, sans-serif;
    font-size: $m-size;
    background: $bg-black-blue;
}
button {
    cursor: pointer;

}
button:disabled {
    cursor: default;
}
